
/* Light Mode */
body.light-mode {
 background: linear-gradient(to left, #78bdce, #a6c49d);
   color: #000000;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

/* Dark Mode */
body.dark-mode {
 background: linear-gradient(to left, #153b81, #124937);
  color: #f1f1f1;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

/* بوكس التودو */
.container {
  background-color: rgba(255, 255, 255, 0.6); /* شبه زجاجي في Light */
  max-width: 800px;
  margin: auto;
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
/* مهمات الجدول */
.task-row {
  background-color: #334346;
  color: #000;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #cceff0;
  transition: background-color 0.3s ease;
}

body.dark-mode .task-row {
  background-color: #2a3b4c;
  color: #f1f1f1;
  border: 1px solid #3a4c5f;
}

/* أنيميشن دخول */
.task-row.new {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-group {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}
input[type="text"] {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
}
button {
  padding: 10px 20px;
  background: #4dd0e1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
table {
  width: 100%;
  margin-top: 10px;
  border-collapse: separate;
  border-spacing: 0 10px;
}
th, td {
  padding: 10px;
}
tr {
  background: rgba(255, 255, 255, 0.1);
}
tr:hover {
  box-shadow: 0 0 10px gray;
}
.completed {
  text-decoration: line-through;
  color: #f5f2f2 !important;
  font-style: italic;
  opacity: 0.7;
}

#timer {
  font-size: 2em;
  margin: 10px 0;
}
footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9em;
}
